include README.rst
include requirements.txt
recursive-include textplusstuff/static *.css
recursive-include textplusstuff/static *.eot
recursive-include textplusstuff/static *.svg
recursive-include textplusstuff/static *.woff
recursive-include textplusstuff/templates *.html
prune tests
